<p id="notice"><%= notice %></p>

<h1>Processlists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processlists.each do |processlist| %>
      <tr>
        <td><%= processlist.name %></td>
        <td><%= processlist.description %></td>
        <td><%= link_to 'Show', processlist %></td>
        <td><%= link_to 'Edit', edit_processlist_path(processlist) %></td>
        <td><%= link_to 'Destroy', processlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Processlist', new_processlist_path %>
