<h3>Daftar Klien</h3>
<br>

<%= link_to "Tambah Baru", new_client_path, class:"btn btn-primary" %>

<div class="container" id="tableBox">
  <div class='table-responsive'>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nama</th>
          <th>NIK</th>
          <th>TTL</th>
          <th>Address</th>
          <th colspan="2" style="width: 5%"></th>
        </tr>
      </thead>

      <% @counter = 1 %>
      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td>
              <%= @counter %>
              <% @counter += 1%>
            </td>
            <td><%= client.name %></td>
            <td><%= client.uid %></td>
            <td><%= client.birthplace %>, <%= client.birthdate.to_formatted_s(:rfc822) %></td>
            <td><%= client.address %>, <%= client.city %></td>
            <td><%= link_to 'Detail', client, class:'btn btn-info' %></td>
            <td><%= link_to 'X', client, method: :delete, data: { confirm: 'Hapus data klien?' }, class:'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
