<p id="notice"><%= notice %></p>

<h3>Personal Files</h3>
<br>

<%= link_to 'Tambah Baru', new_personal_file_path, class:"btn btn-primary" %>
<div class="table-responsive" id="tableBox">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2" style="width: 5%;"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_files.each do |personal_file| %>
      <tr>
        <td><%= personal_file.name %></td>
        <td><%= personal_file.description %></td>
        <td><%= link_to 'Edit', edit_personal_file_path(personal_file), class:"btn btn-info"  %></td>
        <td><%= link_to 'X', personal_file, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

