<h3>Aktivitas</h3>
<br>

<%= link_to 'Tambah Baru', new_activity_path, class:"btn btn-primary" %>

<div class="container" id="tableBox">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="2" style="width:5%"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.description %></td>
        <td><%= link_to 'Detail', edit_activity_path(activity), class:"btn btn-info" %></td>
        <td><%= link_to 'X', activity, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<br>

